<section>
  <div class="container">
    <div class="row">
      <div class="col-6 my-3">

        <app-form-new-item [selection]="selectBarbero"
        (addEvent)="onNewBarber($event)"
        (updateEvent)="onUpdateBarber($event)"
        [label]="'Barbero'" [className]="'btn-primary'" ></app-form-new-item>

      </div>

      <div class="col-6 my-3">
        <input type="text" class="form-control" id="" placeholder="Filtro...." [(ngModel)]="filtro">
      </div>
      <hr>

      <div class="col-8">
        <ng-container *ngIf="listadoBarberos.length > 0; else templateEmpty">
          <app-barberos *ngFor="let barbero of (listadoBarberos | filtro:filtro ) "
          (eventSelectEmitir)="onSelectBarbero($event)"
          (eventDeletEmiter)="onDeleteBarber($event)"
          [barbero]="barbero" [seleccionado]="selectBarbero" ></app-barberos>
        </ng-container>
      </div>

      <div class="col-4">
        <ng-container *ngIf="selectBarbero?.nombre">
          <p>El barbero seleccionado es:<strong> {{selectBarbero?.nombre}} </strong></p>
          <app-button (click)="onClear()" [color]="'white'" [label]="'Ocultar'" [tipobutton]="'primary'" [seleccionado]="selectBarbero"></app-button>
        </ng-container>
      </div>

      <ng-template #templateEmpty>
        <p class="alert alert-danger"> Deshabilitado temporalmente </p>
      </ng-template>

    </div>
  </div>
  <hr>
</section>

<hr>
<!-- <app-card>
  <div card-header>Soy header</div>
  <div card-body >Soy body</div>
</app-card>
<hr>
<app-card>
  <div card-header>Soy header1</div>
  <div card-body >Soy body1</div>
</app-card>
<hr>
<app-card>
  <div card-header>Soy header2</div>
  <div card-body >Soy body</div>
</app-card>
 -->
